.navmenu {
  display: flex;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 58px;
}

.logo {
  flex: 1;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.menu {
  flex: 1;
  padding-left: 100px;
}

.button {
  display: flex;
  justify-content: flex-start;
  padding-left: 80px;
}

.maintext {
  background-image: url("background/header-shapesmobile@2x.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 90px;
  justify-content: space-evenly;
}

.name {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  z-index: 2;
  width: 327px;
  height: 150px;
  left: 24px;
  top: 114px;
  margin-top: 100px;
  margin-bottom: 0;
}

.intro {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  z-index: 2;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;
}

.touch {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 117px;
  height: 24px;
  left: 0;
  top: 0;
  z-index: 2;
  color: #396df2;
}

.icon {
  height: 20px;
  left: 24px;
  top: 470px;
  z-index: 2;
  width: 200px;
}

.icons {
  padding-left: 8px;
  padding-right: 8px;
}

.list {
  list-style-type: none;
  display: flex;
  align-content: flex-start;
  padding-left: 0;
  margin-top: 0;
  margin-left: 20px;
}

.works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-template-rows: repeat(2, 596px);
  background-color: #ebebff;
  margin-top: 114px;
  padding-bottom: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: static;
  width: 327px;
  height: 552px;
  left: calc(50% - 327px / 2);
  top: 114px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 88px 24px;
}

.content3 {
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: static;
  width: 327px;
  height: 552px;
  left: calc(50% - 327px / 2);
  top: 114px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 88px 24px 24px 24px;
}

.content1 {
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: static;
  width: 327px;
  height: 596px;
  left: calc(50% - 327px / 2);
  top: 114px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 24px;
  margin-top: 70px;
}

.content4 {
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: static;
  width: 327px;
  height: 596px;
  left: calc(50% - 327px / 2);
  top: 114px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 24px;
  margin-top: 0;
}

.snapshot {
  position: static;
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
  flex-grow: 0;
  margin: 12px 0;
}

.text {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin-top: 0;
  margin-bottom: 0;
}

.block {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.dot {
  margin-top: 16px;
  position: static;
  width: 8px;
  height: 8px;
  left: 67px;
  top: 12px;
  padding: 0 5px;
}

.text1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding-right: 10px;
}

.text2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  padding-left: 10px;
}

.cardText {
  position: static;
  width: 295px;
  height: 76px;
  left: 0;
  top: 92px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}

.cards {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.firstcard {
  display: flex;
  flex-direction: row;
  color: #6070ff;
  position: static;
  height: 16px;
  left: 12px;
  top: 4px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

.buttonProject {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
  margin-top: 0;
  width: 124px;
  height: 48px;
  left: 12px;
  top: 12px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
}

.nameAbout {
  position: static;
  width: 327px;
  height: 101px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
}

.introAbout {
  position: static;
  width: 327px;
  height: 144px;
  left: 0;
  top: 113px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.button1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  width: 162px;
  height: 48px;
  left: 12px;
  top: 12px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
}

.about {
  position: absolute;
  width: 375px;
  height: 1263px;
  left: 25px;
}

.aboutList {
  list-style-type: none;
  display: flex;
  align-content: flex-start;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;
}

.lists {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.layout {
  flex: 1;
  position: static;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px 0;
  display: flex;
  align-items: center;
  color: #253858;
}

.textlayout {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.textLi {
  height: 24px;
  left: 76px;
  right: 12px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.frame {
  position: static;
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.collapse {
  position: static;
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 12px;
  background: #fff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.vector {
  padding-left: 140px;
}

.vector1 {
  padding-left: 128px;
}

.vector2 {
  padding-left: 203px;
}

.buttonProject:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
  margin-top: 0;
  width: 124px;
  height: 48px;
  left: 12px;
  top: 12px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: 1px solid #6070ff;
  background: #2230d2;
  box-sizing: border-box;
  border-radius: 8px;
}

.button1:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  width: 162px;
  height: 48px;
  left: 12px;
  top: 12px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background: #6070ff;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
}

.pad {
  padding-left: 10px;
}